.table-container{
    height: 600px;
    border: 10px solid transparent;
    overflow: auto;
    border-radius: 15px;
}

.stick-to-top{
    position: sticky;
    top: 0;
    background-color: white;
}