<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Levels Home</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">{{ stockLength }}</span>
      </div>
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['home']">Stock</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['temp']">Shopping</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['access']">Access</a></li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
</body>
</html>