<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
</head>
<body>
    <div class="container">
        <label>{{ savedListText }}</label>
        <table class="table table-bordered" id="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of shoppingList | keyvalue">
                <th #prodName>{{ product.key }}</th>
                <th *ngIf="unsavedList" #prodQuantity contenteditable="true" (input)="onQuantityChange(prodName, prodQuantity)">{{ product.value }}</th>
                <th *ngIf="savedList" #prodQuantity contenteditable="false" (input)="onQuantityChange(prodName, prodQuantity)">{{ product.value }}</th>
            </tr>
          </tbody>
        </table>
        <button [disabled]="!unsavedList" class="btn btn-success" (click)="saveShoppingList()">Save Changes</button>
        <button [disabled]="!unsavedList && !savedList" (click)="newShoppingList()" class="btn btn-success">New List</button>
        <button [disabled]="!savedList" class="btn btn-success" (click)="shoppingDoneButton()">Shop Done</button>
    </div>
</body>
</html>